@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<div class="jumbotron">
  <h3>@ViewBag.Message</h3>
  <hr />
  <p>This application serves as a manager of Santa Claus and Ziggy.</p>
  <p>To facilitate the management of kid's orders for Christmas.</p>
</div>