@{
  ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<div class="jumbotron">

  <h3>@ViewBag.Message</h3>
  <hr />

  <address>
    Finlandia<br />
    Tähtikuja 1, 96930 Rovaniemi<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
  </address>

  <address>
    <strong>Support:</strong>   <a href="mailto:ziggy.stardust@santa.com">ziggy.stardust@santa.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:santa.claus@santa.com">santa.claus@santa.com</a>
  </address>
</div>