<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <add key="DBName" value="integration" />
      <add key="Username" value="Francesco-Talomo" />
      <add key="Password" value="KosenRufu#2017" />
      <add key="Host" value="ds129926.mlab.com" />
      <add key="Port" value="29926" />
    </appSettings>
    <connectionStrings>

    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
