
@{
    ViewBag.Title = "Logout";
}
<div class="container">
  <h2>Log Out</h2>
  <hr />
  <div class="form-horizontal" style="text-align:center;">
    <div class="form-group">
      <h2>Thank You for using Management for Christmas</h2>
    </div>
    <div class="form-group">
      @Html.ActionLink("Log In", "Login", "Users", null, new { @class = "btn btn-primary" })
    </div>
  </div>
</div>